.container {
    width: 80%;
    margin: 0 auto;
}

.movies {
    padding: 20px 0;
}

.movie-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie-item {
    display: flex;
    align-items: center;
    /* justify-content: space-between; Alinea el contenido a la izquierda y el botón a la derecha */
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.movie-item:hover {
    background-color: #e0e0e0;
}

.movie-item img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 4px;
}

.movie-info {
    flex: 1;
    padding: 10px;
}
.movie-info h3{
    margin-top: 15px;
}
.btn-comprar {
    background-color: #dc3545; /* Color rojo */
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.btn-trailer {
    background-color: #2357c8; /* Color rojo */
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    max-width: 30%;
    justify-content: center;
}
.contain{
    display: grid;
    grid-template-rows: 1fr;
    width: calc(100% - 100px);
}
.contain .btn-group{
    display: grid;
    justify-items: end;
}
.btn-comprar:hover {
    background-color: #c823334d; /* Color rojo oscuro al hacer hover */
    color: #060606;
}
.btn-trailer:hover {
    background-color: #2357c84d; /* Color rojo oscuro al hacer hover */
    color: #060606;
}

@media only screen and (max-width:800px){
.btn-trailer{
max-width: 30%;
}
.contain{
    display: grid;
    grid-template-rows: 1fr;
}
}
@media only screen and (max-width:550px){
    .btn-trailer{
    max-width: 60%;
    }
    .contain{
        display: grid;
        grid-template-columns: 1fr;
    }    
}
@media only screen and (max-width:355px){
.movie-item{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
.contain{
    display: grid;
    grid-template-columns: 1fr;
}  
.btn-trailer{
    max-width: 100%;
    }  
    .btn-comprar {
        max-width: 100%;
    }
}
