.promotions{
    display: grid ;
    justify-content: center;
}
.promotion{
    margin:10px;
    min-height: 300px;
    box-shadow:0 7px 25px rgba(0,0,0,0.08);
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
}
.content-text{
    padding: 20px;    
    justify-content: space-between;
}
.title{
    font-size: 50px;
    color: red;
}

.button{
    display: flex;
    justify-content: center;
    text-decoration:none;
}
.button a span{
    padding:10px 25px;
    border:2px solid lightskyblue;
    border-radius:35px;
    text-decoration: none;
    color:lightskyblue;
}
.button a span:hover{
    border:2px solid darkcyan;
    background-color: lightskyblue;
    color:white;
}
.button a:hover{
text-decoration: none;
}
h2{
    text-align: left;
}
.content-image{
    max-width: 500px;
    min-width: 300px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-repeat: round;
    padding: 50px;
    background-size: cover;
}

@media only screen and (max-width:630px){
    .promotion{
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
}