/* asientos.css */

.pantalla-asientos {
    background-color: #333333c4;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.pantalla {
    width: 80%;
    margin: 0 auto;
    border: 2px solid #fff;
    padding: 10px;
}

.screen-content {
    font-size: 24px;
    font-weight: bold;
}

.seleccion-asientos {
    background-color: #f9f9f9;
    padding: 20px 0;
    text-align: center;
}

.seating-plan {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seats {
    display: grid;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

.row-letters {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start; /* Alinea las letras a la izquierda */
}

.seat {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    user-select: none; /* Evita que se pueda seleccionar el texto dentro de los asientos */
}

.seat.selected {
    background-color: #dc3545; /* Color rojo para asientos seleccionados */
    color: #fff;
}

.booking-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

.booking-details h2 {
    margin-bottom: 10px;
}

.booking-details p {
    margin-bottom: 5px;
}

.btn-comprar {
    background-color: #dc3545; /* Color rojo */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-top: 10px;
}

.btn-comprar:hover {
    background-color: #c823334d; /* Color rojo oscuro al hacer hover */
}

.seat-map{
    display: grid;
    justify-content: center;
}

.seat-map--seat-image{
    max-width: 35px;
}
.seat-map--seat-image:hover{
    background-color: darkblue;
    border-radius: 50%;
}
.seat-map--seat-image:active{
    background-color: green;
    border-radius: 50%;
}

.seat-map--legend{
    margin-top:35px;
    list-style: none;
    display: flex;
    justify-content:space-around;
    justify-items: s;
}
.ocupado{
    background-color: red;
    border:red;
    border-radius: 50%;
}
.seleccionado{
    background-color: green;
    border:green;
    border-radius: 50%;
}
.silla{
    max-width: 35px;
}