/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 10px ;
} */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 60px;
}
.nav-container{
    display: flex;
    justify-content: space-around;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    
}

nav{
   display: flex;
   align-items: center;
   
}
nav ul li {
    margin-right: 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 20px 0;
    display: flex;
   align-items: center;       
}

.nav-container div a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    padding: 20px 0;
    display: flex;
   align-items: center;
}

div a:hover {
    color: #ffd700;
}

.user-icon {
    height: 25px;
}

/* Estilos del pie de página */
footer {
    padding: 10px;
    background-color: #333;
    position:relative;
    bottom: 0;
    color: #fff;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo {
    height: 40px;
}

.footer-left {
    flex: 1;
}

.footer-right {
    flex: 1;
}

.footer-right h3 {
    font-size: 20px;
    margin-top: 0;
}

.footer-right p {
    margin-bottom: 10px;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* CSS para pantallas grandes */
@media (min-width: 768px) {
    header .container {
        flex-direction: row;
    }
    nav ul {
        flex-direction: row;
    }
}

/* CSS para pantallas pequeñas */
@media (max-width: 767px) {
    header .container {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
    }
}
