.container-card{
    display: flex;
    justify-content: center;
    height: 500px;
    padding: 25px;
}
.card{
   min-width: 500px;
}
.card-header{
    justify-content: center;
    text-align: center;
}
.card .card-body{
    padding: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
}
form{
    min-width: 300px;
}
footer{
    width: 100%;
    position:relative;
    bottom: 0;
}

@media only screen and (max-width:576px){
    form{
        min-width: 100%;
    }
}